<div className='MemberPage'>
    <div className="formContainer" id="formContainer">
        <div className="form-container sign-in-container">
            <div className="login">
                <div className="form">
                    <h1>LOGIN</h1>
                    <form className="login-form">
                        <input type="text" placeholder="username" />
                        <input type="password" placeholder="password" />

                        <!-- { feedback && <div id="login-feedback">{ feedback }</div> } -->

                        <button type="submit">login</button>

                        <p className="message">Not registered? <a routerLink="/src/app/sign-up/sign-up.component.html"
                                routerLinkActive="active">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>